# Ignore these files.
bin
obj
.source
*.speccache
*.sln
packages/**
*.csproj

.vs/
Protogame/
AugmentedBoardGame/AugmentedBoardGame.Windows.csproj.user
AugmentedBoardGame.Windows.sln.DotSettings.user
